source s_{{item.key}} {
{% if item.value.proto != "tls" %}
  {{item.value.proto}}(
    ip({{item.value.ip}}),
    port({{item.value.port}})
  );
};  
{% else %}
  tcp(
    ip({{item.value.ip}}),
    port({{item.value.port}}),
    tls(
      ca_dir({{item.value.ca_dir}})
      key_file({{item.value.key_file}})
      cert_file({{item.value.cert_file}})
      peer-verify(optional-untrusted)
    )
  );
};
{% endif %}

{% for k, v in  item.value.loggers.iteritems() %}
filter f_{{ k }} { {{ v.filter}} };
destination d_{{ k }} { file({{ item.value.log_dir }}/{{ v.log_file}}); };
log { source(s_{{ item.key }}); filter(f_{{ k }}); destination(d_{{ k }}); };
{% endfor %}